<div class="page-details">
    <div class="container">
        <h1>Videos</h1>
              <div>
                <% videos.forEach(function(video) { %>
                <div>
                    <p><%= video.publishDateFormatted %></p>
                    <iframe width="560" height="315" ng-src="<%= video.displayUrl %>"
                      frameborder="0" allowfullscreen></iframe>
                    <p><%= video.description %></p>
                </div>
                <% }) %>
              </div>
    </div>
</div>
